/* Universal Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}

html {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 16px;
    background-color: #f4f3ef;
}

.main-content {
    display: flex;
    flex-direction: column;
    top: 5.3125rem;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image-container {
    display: flex;
    overflow: hidden;
}

img {
    display: flex;
    border-radius: 0.25rem;
}

a {
    text-decoration: none;
}

a:hover {
    color: #a85658;
}

h1,
h2 {
    font-family: 'Ovo', serif;
}

p {
    font-size: 1rem;
    line-height: 1.6;
}

.card {
    display: flex;
    border-radius: .25rem;
    padding: 2rem;
    margin: 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}


/* Header */

header {
    position: fixed;
    width: 100%;
    z-index: 1;
    height: 5.3125rem;
    background-color: #fff;
    /* Bottom shadow */
    -webkit-box-shadow: 0 8px 6px -6px #86817c;
    -moz-box-shadow: 0 8px 6px -6px #86817c;
    box-shadow: 0 8px 6px -6px #86817c;
}

header .content {
    display: flex;
    padding: 1.875rem;
    line-height: 1.6;
    align-items: center;
}

header .company {
    font-family: 'Ovo', serif;
    font-size: 1.5rem;
    font-weight: 700;
    flex: 1;
}

header nav ul {
    display: flex;
    list-style: none;
}

nav li {
    padding-left: 3.5rem;
    font-weight: 600;
}

.section-header {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}


/* Banner */

.banner {
    display: flex;
    height: 40rem;
    background-image: url(./images/puppies/puppiesgroup.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


/* Adding a tint to the banner image */

#darken {
    background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(./images/puppies/puppiesgroup.jpg);
}

.mission {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.mission h1 {
    font-size: 2.8rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    color: white;
}

.breeder,
.puppies,
.studs,
.girls {
    margin: 1%;
}


/* Breeder Bio */

.breeder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
    align-content: center;
}

.owner {
    display: flex;
    justify-content: center;
    max-width: 25%;
}

.owner img {
    display: flex;
    overflow: hidden;
    padding: 2%;
}

.story {
    display: flex;
    display: block;
    width: 50%;
    padding: 2rem 1rem;
    text-align: justify;
}

.goal {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1.5rem;
    text-align: center;
    font-style: italic;
}


/* Family Photo Gallery */

#gallery {
    display: flex;
    flex-direction: column;
    width: 20%;
    background-color: #EFD7B9;
}

#gallery .image-container {
    display: flex;
    flex: 1;
    height: auto;
    margin-bottom: 1rem;
}

.image-container img {
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
}

.fun-photos {
    text-align: center;
    line-height: 1.6;
}

.fun-photos h2 {
    padding-bottom: 0.5rem;
}

.fun-photos h4 {
    padding-top: 1rem;
}


/* Puppies */

.puppies {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-content: center;
    height: auto;
    background-color: #aebad2;
    border-radius: 0.25rem;
}

.litter-info {
    padding-bottom: 3rem;
}

.section-header {
    padding-bottom: 2rem;
}

.due-date {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 1.5rem;
    padding: 1rem;
    font-style: italic;
}

.puppies .card-container {
    align-items: center;
}

.puppies .card {
    display: inline-flex;
    flex-direction: column;
    width: 25%;
    background-color: #f4f3ef;
}

.featured {
    text-align: center;
}

.featured h2 {
    padding-bottom: 1rem;
}

.parents {
    font-size: 3rem;
    color: #f4f3ef;
    background-color: #302C1F;
    border-radius: 80%;
    padding: 1.3rem 1.7rem;
    justify-content: center;
}

.details-section {
    display: flex;
    height: 18.75rem;
    padding: 1rem;
    justify-content: space-evenly;
    align-items: center;
    background-color: #f4f3ef;
}

.puppy-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 100%;
    text-align: justify;
    padding: 2%;
}

.puppy-info .icon {
    padding: 1.3rem;
    background-color: #EFD7B9;
    border-radius: 50%;
    justify-content: center;
}

.puppy-info p {
    padding: 1rem;
}


/* Studs */

.studs {
    display: flex;
    flex-direction: column;
    background-color: #EFD7B9;
    border-radius: 0.25rem;
}

.section-header {
    padding-top: 2rem;
}

.stud-info {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    justify-content: space-around;
    padding-bottom: 2rem;
}

.bio-card {
    padding: 2rem;
    line-height: 1.6;
    max-width: 25%;
    max-height: 30%;
    margin: 1rem;
    text-align: justify;
    border-radius: .25rem;
    background-color: #f4f3ef;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.bio-card .image-container {
    max-height: 45%;
    margin-bottom: 1rem;
}

.bio-card .description {
    flex: 1;
}

.image-container img {
    display: flex;
    object-fit: cover;
    justify-content: center;
    width: 100%;
    max-height: 100%;
}

.stud-fee {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    padding-top: 3rem;
}

hr {
    border: 0.0625rem solid grey;
    margin-bottom: 1rem;
}

.description h2 {
    text-align: center;
    padding-bottom: 0.5rem;
}

#retired {
    background-color: #d3d5d4;
    color: white;
}


/* Girls */

.girls {
    display: flex;
    flex-direction: column;
    height: auto;
}

.card-container {
    display: flex;
    justify-content: space-evenly;
}

.girls .card {
    display: flex;
    flex-direction: column;
    width: 25%;
    background-color: #EFD7B9;
}

.card .image-container {
    display: flex;
    flex: 1;
    height: auto;
    height: 45%;
    margin-bottom: 1rem;
}

.girls .description {
    text-align: center;
}


/* Contact */

.contact {
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-content: center;
    padding: 1%;
    background-color: #aebad2;
    padding: 1.875rem;
}

.social-links img {
    display: inline-flex;
    padding: 0 0.625rem;
}

.contact h3 {
    padding-bottom: 0.5rem;
}


/* Footer */

footer {
    display: flex;
    justify-content: center;
    padding: 0.75%;
    background-color: #302C1F;
    color: white;
}